@()

@main("Time To Teach") {

    <div id="stage">

        <div id="stage-caption">
            <img id="ttt-logo-front-page" src="@routes.Assets.versioned("icons/ttt_logo_white.png")" alt="TTT Logo" height="128px">
            <p><span id="thesubtitle">Easy planning for busy teachers</span></p>

            <ul >
                <li>Are you a primary teacher in Scotland?</li>
                <li>Do you spend too much time planning?</li>
            </ul>

            <br>
            <div id="landing-content">
                <p><span class="simplifica-inline">Time to TEACH</span> is a new automated planning tool which we are building now! It will reduce the time you spend planning by
                    taking away many of the administrative and repetitive parts of planning. Some key features are ...</p>

                <ul class="text-light">
                    <li>CfE experiences & outcomes / benchmarks automatically linked to weekly plans</li>
                    <li>State of the art technology designed specifically for teachers in Scotland</li>
                    <li>Flexible design to suit your planning needs</li>
                    <li>Extremely user-friendly website with tutorials and help features</li>
                </ul>

                <br>
                <p >To make our website work for as many teachers as possible we are looking for some volunteers to trial
                    our tool and provide us with feedback/ideas. This will be done online and will only take up a very
                    small amount of your time. This is a great opportunity for you to help design the future of planning!</p>
            </div>


            <a id="register-btn" type="button"
            class="btn btn-success btn-lg" href="@routes.HomeController.signup()">Register Interest</a>
        </div>

    </div>

}

