@(postUrl: Call)(implicit request: RequestHeader)

@main("Time To Teach") {

    <section id="signup-section">
        <div class="container">

            <div id="stage-caption-register">
                <img id="ttt-logo-front-page" class="align-middle" src="@routes.Assets.versioned("icons/ttt_owl.png")" alt="TTT Logo" height="90px">
                <p class="simplifica-white">Time to TEACH</p>

                <div class="p-lead signup-to-community">Sign up to join the community!</div>

                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-8">
                        <form id="needs-validation" action="@postUrl.url" method="post" onchange="onFormChange()" onsubmit="return onFormSubmit()" novalidate>
                            @helper.CSRF.formField

                            <div class="form-group">
                                <input type="text" class="form-control" name="firstName" id="firstNameId" aria-describedby="firstNameHelp" placeholder="Enter First Name" required autofocus>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" name="surname" id="surnameId" aria-describedby="surnameHelp" placeholder="Enter Surname">
                            </div>

                            <div class="form-group">
                                <input type="email" class="form-control" name="email" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Email" required>
                            </div>


                            <div class="form-group d-flex ml-auto ">
                                <input type="text" class="form-control" name="positionType" id="positionTypeId" aria-describedby="positionTypeHelp" placeholder="Select Position Type" required onchange="">

                                <div id="theDropdown" class="dropup form-inline">
                                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    </button>
                                    <div id="dropdown-menu-items" class="dropdown-menu scrollable-menu" aria-labelledby="dropdownMenuButton">
                                        <button onclick='updatePositionTypeId(this)' value='Class teacher' class="dropdown-item">
                                            Class teacher</button>
                                        <button onclick='updatePositionTypeId(this)' value='Principal teacher' class="dropdown-item">
                                            Principal teacher</button>
                                        <button onclick='updatePositionTypeId(this)' value='Senior management' class="dropdown-item">
                                            Senior management</button>
                                        <button onclick='updatePositionTypeId(this)' value='Peripatetic teacher' class="dropdown-item">
                                            Peripatetic teacher</button>
                                        <button onclick='updatePositionTypeId(this)' value='Teacher' class="dropdown-item">
                                            Teacher</button>
                                        <button onclick='updatePositionTypeId(this)' value='Student teacher' class="dropdown-item">
                                            Student teacher</button>
                                        <button onclick='updatePositionTypeId(this)' value='Management' class="dropdown-item">
                                            Management</button>
                                    </div>
                                </div>
                            </div>


                            <div class="form-group d-flex ml-auto ">
                                <input type="text" class="form-control" name="localAuthority" id="localAuthorityId" aria-describedby="localAuthorityHelp" placeholder="Select Local Authority" required>

                                <div id="theDropdown" class="dropup form-inline">
                                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    </button>
                                    <div id="dropdown-menu-items" class="dropdown-menu scrollable-menu" aria-labelledby="dropdownMenuButton">
                                        <button onclick='updateLocalAuthorityId(this)' value='Other' class="dropdown-item">
                                            Other</button>
                                        <div class="dropdown-divider"></div>
                                        <button onclick='updateLocalAuthorityId(this)' value='Aberdeen City' class="dropdown-item">
                                            Aberdeen City</button>
                                        <button onclick='updateLocalAuthorityId(this)' value='Aberdeenshire' class="dropdown-item">
                                            Aberdeenshire</button>
                                        <button onclick='updateLocalAuthorityId(this)' value='Angus' class="dropdown-item">
                                            Angus</button>
                                        <button onclick='updateLocalAuthorityId(this)' value='Argyll and Bute' class="dropdown-item">
                                            Argyll and Bute</button>
                                        <button onclick='updateLocalAuthorityId(this)' value='Edinburgh City' class="dropdown-item">
                                            Edinburgh City</button>
                                        <button onclick='updateLocalAuthorityId(this)' value='Clackmannanshire' class="dropdown-item">
                                            Clackmannanshire</button>
                                        <button onclick='updateLocalAuthorityId(this)' value='Dumfries and Galloway' class="dropdown-item">
                                            Dumfries and Galloway</button>
                                        <button onclick='updateLocalAuthorityId(this)' value='Dundee City' class="dropdown-item">
                                            Dundee City</button>
                                        <button onclick='updateLocalAuthorityId(this)' value='East Ayrshire' class="dropdown-item">
                                            East Ayrshire</button>
                                        <button onclick='updateLocalAuthorityId(this)' value='East Dunbartonshire' class="dropdown-item">
                                            East Dunbartonshire</button>
                                        <button onclick='updateLocalAuthorityId(this)' value='East Lothian' class="dropdown-item">
                                            East Lothian</button>
                                        <button onclick='updateLocalAuthorityId(this)' value='East Renfrewshire' class="dropdown-item">
                                            East Renfrewshire</button>
                                        <button onclick='updateLocalAuthorityId(this)' value='Falkirk' class="dropdown-item">
                                            Falkirk</button>
                                        <button onclick='updateLocalAuthorityId(this)' value='Fife' class="dropdown-item">
                                            Fife</button>
                                        <button onclick='updateLocalAuthorityId(this)' value='Glasgow City' class="dropdown-item">
                                            Glasgow City</button>
                                        <button onclick='updateLocalAuthorityId(this)' value='Highland' class="dropdown-item">
                                            Highland</button>
                                        <button onclick='updateLocalAuthorityId(this)' value='Inverclyde' class="dropdown-item">
                                            Inverclyde</button>
                                        <button onclick='updateLocalAuthorityId(this)' value='Midlothian' class="dropdown-item">
                                            Midlothian Council</button>
                                        <button onclick='updateLocalAuthorityId(this)' value='Moray' class="dropdown-item">
                                            Moray</button>
                                        <button onclick='updateLocalAuthorityId(this)' value='Comhairle nan Eilean Siar (Western Isles Council)' class="dropdown-item">
                                            Comhairle nan Eilean Siar (Western Isles)</button>
                                        <button onclick='updateLocalAuthorityId(this)' value='North Ayrshire' class="dropdown-item">
                                            North Ayrshire</button>
                                        <button onclick='updateLocalAuthorityId(this)' value='North Lanarkshire' class="dropdown-item">
                                            North Lanarkshire</button>
                                        <button onclick='updateLocalAuthorityId(this)' value='Orkney Islands' class="dropdown-item">
                                            Orkney Islands</button>
                                        <button onclick='updateLocalAuthorityId(this)' value='Perth & Kinross' class="dropdown-item">
                                            Perth & Kinross</button>
                                        <button onclick='updateLocalAuthorityId(this)' value='Renfrewshire' class="dropdown-item">
                                            Renfrewshire</button>
                                        <button onclick='updateLocalAuthorityId(this)' value='Scottish Borders' class="dropdown-item">
                                            Scottish Borders</button>
                                        <button onclick='updateLocalAuthorityId(this)' value='Shetland Islands' class="dropdown-item">
                                            Shetland Islands</button>
                                        <button onclick='updateLocalAuthorityId(this)' value='South Ayrshire' class="dropdown-item">
                                            South Ayrshire</button>
                                        <button onclick='updateLocalAuthorityId(this)' value='South Lanarkshire' class="dropdown-item">
                                            South Lanarkshire</button>
                                        <button onclick='updateLocalAuthorityId(this)' value='Stirling' class="dropdown-item">
                                            Stirling</button>
                                        <button onclick='updateLocalAuthorityId(this)' value='West Dunbartonshire' class="dropdown-item">
                                            West Dunbartonshire</button>
                                        <button onclick='updateLocalAuthorityId(this)' value='West Lothian' class="dropdown-item">
                                            West Lothian</button>
                                    </div>
                                </div>
                            </div>

                            <button onclick='theSubmitButtonPressed(this)' id="thesubmit-button" type="submit" class="btn btn-primary btn-lg">
                                Submit</button>

                        </form>
                    </div>
                    <div class="col-md-2"></div>
                </div>
            </div>
        </div>
    </section>

    <script>
            function updateLocalAuthorityId(objButton) {
                document.getElementById("localAuthorityId").value = objButton.value;
                document.getElementById("localAuthorityId")
            }
    </script>
    <script>
            function updatePositionTypeId(objButton) {
                document.getElementById("positionTypeId").value = objButton.value;
            }

            var submitPressed = false;
            function theSubmitButtonPressed() {
                submitPressed = true;
            }

            function onFormSubmit() {
                return submitPressed === true;
            }

            (function () {
                "use strict";
                window.addEventListener("load", function () {
                    var form = document.getElementById("needs-validation");
                    form.addEventListener("submit", function (event) {
                        if (form.checkValidity() === false) {
                            event.preventDefault();
                            event.stopPropagation();
                        }
                        form.classList.add("was-validated");
                    }, false);
                }, false);
            }());

    </script>
}

